# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs & databases
*.log
*.sqlite3

# Unit test / coverage
.coverage
*.cover
htmlcov/
.pytest_cache/

# IDE / editor settings
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints/

# MyPy / typing cache
.mypy_cache/
.pytype/

.DS_Store